.super-mario{
    position: absolute;
    z-index:2;
    left: 100px;
}
.goomba{
    position: absolute;
    z-index: 1;
    top:1110px
}
.word{
    position:absolute;
    z-index:5;
    left: 50px;
    margin-top: 50px;
}
.baloon{
    position:absolute;
    z-index: 4;
}
.bowser{
    position: absolute;
    z-index:3;
    left:1000px;
}
